<!-- nav.ejs -->
<nav>
  <ul>
    <li><a href="/itens">Itens</a></li>
    <li><a href="/usuarios">Usuários</a></li>
    <li><a href="/clientes">Contratantes</a></li>
    <li><a href="/contratos">Contratos</a></li>
    <li><a href="/reserva">Reservas</a></li>
  </ul>
</nav>
